<% if user_signed_in?%>
  <!--コメントはpostに紐付いたcommentであるため2つのIDの情報が必要になります。-->
  <%= form_with(model:[post, comment]) do |f| %>
  　<div class="comments_error">
     <%= render 'layouts/error_messages', model: f.object %>
    </div>
    <%= f.text_area :comment, rows:'3',placeholder: "コメントを入力" %>
    <%= f.submit "送信" %>
  <% end %>
<% end %>