<% if user_signed_in? %>
  <% if current_user.following?(user) %>
    <div class="btn btn-primary follow-btn">
      <%= render "notfollow_button", user: user %>
    </div>
  <% else %>
    <div class="btn btn-success follow-btn">
      <%= render "follow_button", user: user %>
    </div>
  <% end %>
<% else %>
  <div class="btn btn-success follow-btn">
    <%= link_to "フォロー", new_user_session_path, data: {confirm: "フォローするにはログインが必要です。ページを移動しますか？"} %>
  </div>
<% end %>

