<div class="container">
  <div class="row d-flex flex-column justify-content-center align-items-center">
    <h4>DMリスト</h4>
    <% @rooms.each do |room| %>
    <div class="col dm-box">
      <%= link_to room_path(room) do %>
        <%= opponent_user(room) %>
        <%= new_message_preview(room) %>
      <% end %>
      </div>
    <% end %>
  </div>
</div>
