<div class="container">
  <div class="row">
    <h4>
      <% @entries.each do |e| %>
        <%= attachment_image_tag e.user, :profile_image, size: '50x50', fallback: "no_image.jpg" %>
        <%= e.user.name %>さん
      <% end %>
    </h4>
    <div class="messages_area">
      <%= render "messages/messages", messages: @messages %>
    </div>
    <div class="message_form">
      <%= render "messages/form" %>
    </div>
  </div>
</div>