<div class="container">
  <h4>閲覧数が多い投稿（<%= @date1 %>月）</h4>
  <div class="row">
    <%= render "pv_ranking", posts_pv_ranking: @posts_pv_ranking %>
  </div>
  <div class="row d-flex justify-content-center">
    <%= paginate @posts_pv_ranking, theme: 'twitter-bootstrap-4' %>
  </div>
</div>
