/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sticky-top {
  position: relative;
}

.search {
  position: absolute;
}
.site-name {
  font-family: 'The Nautigal', sans-serif;
  margin: 0 10px;
  color: #FF9900;
}

.nav-link {
  color: #FF9900;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,153,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
  border-color: #FF9900;
}

@media screen and (max-width: 420px){
.br-sp {display: none; }
}

body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

.text-box {
  margin: 70px;
}
.top-text {
  color: #FFFFFF;
}

.about-slick {
  width: 250px;
}

.mypage img {
  width: 33%;
  height: auto;
}

.search-image img {
  width: 33%;
  height: auto;
}

#preview img {
  width: 25%;
  height: auto;
}


.slick-prev:before, .slick-next:before {
  color: #000;/*黒にする*/
  opacity: .40;/*デフォルトは.75が指定されている*/
}