/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.homes {
  background: image-url('backimage.JPG');
  background-size: cover;
  background-position: center;
}

// ヘッダー
.header {
  position: relative;
}

.search {
  position: absolute;
}
.site-name {
  font-family: 'The Nautigal', sans-serif;
  margin: 0 10px;
  color: #FF9900;
}

.nav-link {
  color: #FF9900;
}

.navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,153,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler{
  border-color: #FF9900;
}

.n-camp, .n-good {
  font-size: 1em;
}

.n-plus, .n-circle {
  position: absolute;
  padding-left: 0.1rem;
  padding-top: 0rem;
  color: #CC9900;
}
.header-image a img, .user-name a img{
  width:  50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
// ここまで
// フッター下に固定
body {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
// ここまで
// トップ、アバウト、devise
.text-box {
  margin: 70px;
}
.top-text {
  color: #FFFFFF;
}

.login, .signin {
  margin: 70px 0;
}

.about-slick {
  width: 250px;
}
// ここまで
// 検索一覧
.search-image img {
  width: 33%;
  height: auto;
}
// ここまで
// 新規投稿
#preview img {
  width: 25%;
  height: auto;
}
// ここまで
// slick設定
.slick-prev:before, .slick-next:before {
  color: #000;/*黒にする*/
  opacity: .40;/*デフォルトは.75が指定されている*/
}
.slick{
  width: 600px;
}
.slick img{
  width: 100%;
}
// ここまで
// 投稿一覧
.post-index {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.sideber, .post-box {
  margin-top: 20px;
}
.sideber{
  margin-right: 50px;
  position: sticky;
  top: 70px;
}
.post-box{
  width: 600px;
}
.post-boxes{
  margin-bottom: 50px;
  border-width: 1px;
	border-color: #CCCCCC;
	border-style: solid;
}
.user-name{
  border-width: 1px;
	border-color: #CCCCCC;
	border-bottom-style: solid;
	font-weight: bold;
}

.sideber a img{
  width:  70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}
.user-name, .post-title, .like-btn, .post-body, .post-comment-link, .time{
  padding: 2px 15px;
}
.post-body{
  width: 100%;
}

// ここまで
// マイページ
.user-inf{
  display: flex;
  padding: 10px 30px;
}
.mypage img {
  width: 33%;
  height: auto;
  margin-bottom: 4px;
}
.row-box, .profile-image{
  margin-left: 60px;
}
.row-box{
  width: 1024px;
}
.row-box a{
  font-size: 12pt;
  color: black;
}
.rowlist{
  margin: 0 40px 20px 0;
}
.relationship_count{
  display: flex;
}
.profile-image img{
  width:  160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
}

// ここまで
// 会員編集ページ
th img{
  width:  100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}
// ここまで




.table th,
.table td {
  border:none;
}

@media screen and (max-width: 420px){
.br-sp {display: none; }
}
